body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-alt);
  font-size: 1rem;
  min-height: 100vh;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--text-primary);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-warm);
}

/* Listes */
ul {
  padding-left: 1rem;
}

/* Liens accentués */
a.accent {
  color: var(--color-accent);
  font-weight: 600;
}

/* BARRE DE SCROLL UNIVERSELLE (évite les décalages)*/
html {
  overflow-y: scroll;
}

/* STYLISATION SCROLLBAR — CHROMIUM (Chrome / Edge)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary); /* #ECF8F6 */
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* #18534F */
  border-radius: 10px;
  border: 2px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary); /* #226D68 */
}

/* STYLISATION SCROLLBAR — FIREFOX */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--bg-primary);
}
